.pokemonCard {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: whitesmoke;
    align-self: stretch;
    align-items: center;

    width: 100%;

    border-radius: 20px;

    box-shadow: 0 0 5px rgba(0,0,0,.5) ;
}
.pokemonCard.normal {
    background-color: whitesmoke;
}
.pokemonCard.grass {
    background-color: #e3f8e2;
}
.pokemonCard.fire {
    background-color: #fce2e0;
}
.pokemonCard.water {
    background-color: #e1f1ff;
}
.pokemonCard.bug {
    background-color: #f7d6a8;
}
.pokemonCard.electric {
    background-color: #feffe1;
}
.pokemonCard.poison {
    background-color: #ffe1fa;
}
.pokemonCard.ground {
    background-color: #d3d3d3;
}

.pokemonId {
    padding: .25rem;
    border-radius: 10px;

    margin: .5rem;

    background-color: rgba(168, 185, 168, .2);
}


.spriteContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    /* aspect-ratio: 1; */
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
}
.spriteContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}